$my-red : #F15625;

.bg-myred {
  background-color: $my-red;
}

.text-myred {
  color: $my-red;
}

.icon {
  height: 1.5em;
}

.no-deco {
  text-decoration: none;
}


#main-container {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0.493)),
    url(/assets/images/background.png);
  padding: 10em 0;
}

#search-form {
  background-color: rgba(255, 255, 255, 0.753);
}